<article class="row center-wrapper">
    <section class="column center">
        <p>Scale patterns must contain exactly 12 half-steps.</p>
    </section>
    <section class="column center">
        <p>m = 1 half-step, M = 2 half-steps, A = 3 half-steps</p>
    </section>
</article>
