<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title><%= assigns[:page_title] || "ScaleGenerator · Phoenix LiveView" %></title>
    <link rel="stylesheet" href="<%= Routes.static_path(@socket, "/css/app.css") %>"/>
    <%= csrf_meta_tag() %>
  </head>
  <body>
    <section id="wrapper">
      <header>
        <section class="container">
          <nav role="navigation">
            <a href="<%= @link %>"><button><%= @link_name %></button></a>
          </nav>
          <a href="https://phoenixframework.org/" class="phx-logo">
            <img src="<%= Routes.static_path(@socket, "/images/phoenix.png") %>" alt="Phoenix Framework Logo"/>
          </a>
        </section>
      </header>
      <main role="main" class="container">
        <p><%= live_flash(@flash, :notice) %></p>
        <p><%= live_flash(@flash, :error) %></p>
        <%= @inner_content %>
      </main>
    </section>
    <footer id="footer">
      <nav role="navigation">
        <ul>
          <li><a href="https://hexdocs.pm/phoenix/overview.html">Get Started with Phoenix</a></li>
          <li><a href="https://exercism.io/tracks/elixir/exercises/scale-generator">Based on the Scale Generator Exercism</a></li>
        </ul>
      </nav>
    </footer>
    <%= csrf_meta_tag() %>
    <script type="text/javascript" src="<%= Routes.static_path(@socket, "/js/app.js") %>"></script>
  </body>
</html>
