/* This file is for your main application css. */

@import "./phoenix.css";

.glow {
    text-shadow: 0px 0px 3px white,
                 0px 0px 5px white, 
                 0px 0px 6px orangered,
                 0px 0px 7px orangered,
                 0px 0px 8px orangered,
                 0px 0px 10px orangered;
    color: white;
}

.fade-in {
    animation: fade-in 5s;
}

@keyframes fade-in {
    0% {
      opacity: 0.5;
    }
    100% {
      opacity: 1;
    }
  }

.note {
    margin: 3px;
}

.error {
    color: orangered
}

.ok {
    color: green
}

.alert {
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
}

.close {
    font-weight: bold;
    float: right;
}

li {
    list-style-type: none;
}

.ok-box {
    background-color: #e8ffe8;
    border: 1px solid green;
}

.error-box {
    background-color: #fff7f4;
    border: 1px solid orangered;
}

.center {
    display: inline-block;
    margin: .5rem;
}

.center-wrapper {
    text-align: center;
}

.forms-group {
    margin: auto;
    display: block;
}

footer#footer {
    position: absolute;
    bottom: 0;
    left: 2rem;
    height: 8.5rem;
}

input.error-field {
    border: 1px solid orangered;
}

.wrapper {
    padding-bottom: 8.5rem;
}

body {
    position: relative;
    min-height: 100vh;
}